
button { 
    box-sizing: border-box;
    margin: 5px 2px 10px 0; 
    padding: 5px 8px;
    width: 50px;
  }

  .buttons{
      display: flex;
  }
  
  #timer {
    font-size: 1.45em;
    font-weight: 100;
  }