.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 2em;
  color: lightgray;
  margin: 0 auto;
  padding: 0 1em;
}

.profile__figure {
  width: 18em;
  height: 18em;
  border-radius: 70%;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

.profile_edit__button {
  text-decoration: underline;
}

input,
textarea {
  display: flex;
  width: 40%;
  padding: 0.5em;
  border: 1px solid hsla(230, 20%, 85%, 1);
  font: inherit;
  color: inherit;
  margin-bottom: 1em;
}

label {
  margin-bottom: 0.5em;
}
