.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 2em;
  color: lightgray;
  margin: 0 auto;
  padding: 0 1em;
}

.profile__figure {
  width: 18em;
  height: 18em;
  border-radius: 70%;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

.profile_edit__button {
  text-decoration: none;
}

h2 {
  margin-top: 2em;
}
