
.Carroussel-Img {
    min-height: 33vh;
    max-height: 33vh;
    @media (min-width: 850px) {
      min-height: 53vh;
      max-height: 53vh;
    }
    @media (min-width: 1200px) {
      min-height: 93vh;
      max-height: 93vh;
    }
  }