.profile__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 2em;
  color: red;
  padding: 0 1em;
}

.profile__edit__figure {
  width: 8em;
  height: 8em;
  border-radius: 70%;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

input,
textarea {
  display: flex;
  width: 40%;
  padding: 0.5em;
  border: 1px solid hsla(230, 20%, 85%, 1);
  font: inherit;
  color: black;
  margin-bottom: 1em;
}

label {
  margin-bottom: 0.5em;
  color: darkgray;
}
