.wod__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin: 0 auto;
  padding: 0 1em;
}
.wod__single__text {
  max-width: 800px;
  width: 80%;
  word-wrap: break-word;
  @media only screen and (max-width: 375px) {
    max-width: 375px;
    width: 75%;
    word-wrap: break-word;
  }
}
.wod__single__video {
  width: 50%;
  height: 50%;
  @media only screen and (max-width: 375px) {
    margin-top: 2em;
    width: 80%;
    height: 80%;
  }
}

h1 {
  color: black;
  margin-bottom: 2em;
  margin-top: 1em;
  text-align: center;
}

h4 {
  text-decoration: underline;
  @media only screen and (max-width: 375px) {
    text-align: center;
  }
}
