.footer {
  padding-top: 21px;
  display: flex;
  align-content: center;
  padding-left: 20px;
  padding-bottom: 20px;
  color: white;
  @media only screen and (max-width: 400px) {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

.footer__link {
  color: white;
  &:hover {
    color: #999;
    text-decoration: none;
  }
}
