.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkblue;
  margin: 0 auto;
  padding: 0 1em;
}

.canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

h1 {
  color: white;
  margin: 0 auto;
}

.features {
  margin-top: 230px;
  margin-bottom: 230px;
  @media only screen and (max-width: 400px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.features__mobile {
  @media only screen and (max-width: 400px) {
    margin: 0 auto;
    margin-top: 1em;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
  }
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkblue;
  margin: 0 auto;
  padding: 0 1em;
}
.canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

h1 {
  color: white;
  margin: 0 auto;
}

.features {
  margin-top: 230px;
  margin-bottom: 230px;
  @media only screen and (max-width: 400px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.features__mobile {
  @media only screen and (max-width: 400px) {
    margin: 0 auto;
    margin-top: 1em;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
  }
}
