.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkblue;
  margin: 0 auto;
  padding: 0 1em;
}

.bg{
  background-image: url(../../assets/meghan-holmes-buWcS7G1_28-unsplash.jpg);
  width: 100%;
  height: 100vh;
}

h1{
  color: white;
  margin: 0 auto;
}